<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/backstage.css">
</head>
<body>
<div class="box">
    <div id="logo">
        <img src="/images/logo.png">
    </div>
    <ul id="nav">
        <li>商品管理</li>
        <li>订单管理</li>
    </ul>
    <iframe src="" name="content" scrolling="atuo"></iframe>
</div>
<script src="/javascripts/back-stage.js"></script>
</body>
</html>