<!DOCTYPE html>
<html lang="en">

<head>
  <title>Shoppers &mdash; Colorlib e-Commerce Template</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
  <link rel="stylesheet" href="/stylesheets/fonts/icomoon/style.css">

  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/magnific-popup.css">
  <link rel="stylesheet" href="/stylesheets/jquery-ui.css">
  <link rel="stylesheet" href="/stylesheets/owl.carousel.min.css">
  <link rel="stylesheet" href="/stylesheets/owl.theme.default.min.css">


  <link rel="stylesheet" href="/stylesheets/aos.css">

  <link rel="stylesheet" href="/stylesheets/style1.css">

</head>

<body>

  <div class="site-wrap">
    <header class="site-navbar" role="banner">
      <div class="site-navbar-top">
        <div class="container">
          <div class="row align-items-center">

            <div class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left">
              <form action="" class="site-block-top-search">
                <span class="icon icon-search2"></span>
                <input type="text" class="form-control border-0" placeholder="Search">
              </form>
            </div>

            <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center">
              <div class="site-logo">
                <a href="/index" class="js-logo-clone">花花世界</a>
              </div>
            </div>

            <div class="col-6 col-md-4 order-3 order-md-3 text-right">
              <div class="site-top-icons">
                <ul>
                  <li><a href="#"><span class="icon icon-person"></span></a></li>
                  <li><a href="#"><span class="icon icon-heart-o"></span></a></li>
                  <li>
                    <a href="/cart" class="site-cart">
                      <span class="icon icon-shopping_cart"></span>
                      <span class="count">2</span>
                    </a>
                  </li>
                  <li class="d-inline-block d-md-none ml-md-0"><a href="#" class="site-menu-toggle js-menu-toggle"><span
                        class="icon-menu"></span></a></li>
                </ul>
              </div>
            </div>

          </div>
        </div>
      </div>
      <nav class="site-navigation text-right text-md-center" role="navigation">
        <div class="container">
          <ul class="site-menu js-clone-nav d-none d-md-block">
            <li class="has-children">
              <a href="/index">首页</a>
              <ul class="dropdown">
                <li><a href="#">Menu One</a></li>
                <li><a href="#">Menu Two</a></li>
                <li><a href="#">Menu Three</a></li>
                <li class="has-children">
                  <a href="#">Sub Menu</a>
                  <ul class="dropdown">
                    <li><a href="#">Menu One</a></li>
                    <li><a href="#">Menu Two</a></li>
                    <li><a href="#">Menu Three</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="has-children">
              <a href="/about">关于</a>
              <ul class="dropdown">
                <li><a href="#">Menu One</a></li>
                <li><a href="#">Menu Two</a></li>
                <li><a href="#">Menu Three</a></li>
              </ul>
            </li>
            <li><a href="/shop">店铺</a></li>
            <li><a href="/contact">收货地址</a></li>
          </ul>
        </div>
      </nav>
    </header>

    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="/index">首页</a> <span class="mx-2 mb-0">/</span> <a href="/cart">购物车</a>
            <span class="mx-2 mb-0">/</span> <strong class="text-black">结算</strong></div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-12">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-5 mb-md-0">
            <h2 class="h3 mb-3 text-black">结算明细</h2>
            <div class="p-3 p-lg-5 border">
              <form >
              <label for="c_fname" class="text-black">收货人<span class="text-danger">*</span></label>
              <input type="text" class="form-control" id="c_fname" name="c_fname">
              <label for="province" class="text-black">省<span class="text-danger">*</span></label>
              <select id="province" class="form-control"></select>
              <label for="city" class="text-black">市<span class="text-danger">*</span></label>
              <select id="city" class="form-control"></select>
              <label for="county" class="text-black">区<span class="text-danger">*</span></label>
              <select id="county" class="form-control"></select>
              <label for="c_address" class="text-black">地址 <span class="text-danger">*</span></label>
              <input type="text" class="form-control" id="c_address" name="c_address" placeholder="街道地址">
              <label for="c_diff_phone" class="text-black">电话号码<span class="text-danger">*</span></label>
              <input type="text" class="form-control" id="c_diff_phone" name="c_diff_phone" placeholder="电话号码">
              <label for="c_order_notes" class="text-black">订单备注</label>
              <textarea name="c_order_notes" id="c_order_notes" cols="30" rows="5" class="form-control"
                placeholder="选填，请先和商家协商一致"></textarea>
              <button class="btn btn-primary btn-lg py-3 btn-block" type="submit">确定</button>
              </form>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row mb-5">
              <div class="col-md-12">
                <h2 class="h3 mb-3 text-black">您的订单</h2>
                <div class="p-3 p-lg-5 border">
                  <table class="table site-block-order-table mb-5">
                    <thead>
                      <th>商品</th>
                      <th>价格</th>
                    </thead>
                    <tbody>
                      <% for(var i=0 ;i < list.length; i++){ %>
                      <tr>
                        <td><%=list[i].product_name %><strong class="mx-2">x</strong> <%=list[i].amount %></td>
                        <td>￥<%=list[i].sum_price %></td>
                      </tr>
                      <%} %>
                      <tr>
                        <td class="text-black font-weight-bold"><strong>合计</strong></td>
                        <td class="text-black">￥<%=obj.total_prices %></td>
                      </tr>
                    </tbody>
                  </table>

                  <div class="border p-3 mb-3">
                    <h3 class="h6 mb-0"><a class="d-block" data-toggle="collapse" href="#collapsebank" role="button"
                        aria-expanded="false" aria-controls="collapsebank">Direct Bank Transfer</a></h3>

                    <div class="collapse" id="collapsebank">
                      <div class="py-2">
                        <p class="mb-0">Make your payment directly into our bank account. Please use your Order ID as
                          the payment reference. Your order won’t be shipped until the funds have cleared in our
                          account.</p>
                      </div>
                    </div>
                  </div>

                  <div class="border p-3 mb-3">
                    <h3 class="h6 mb-0"><a class="d-block" data-toggle="collapse" href="#collapsecheque" role="button"
                        aria-expanded="false" aria-controls="collapsecheque">Cheque Payment</a></h3>

                    <div class="collapse" id="collapsecheque">
                      <div class="py-2">
                        <p class="mb-0">Make your payment directly into our bank account. Please use your Order ID as
                          the payment reference. Your order won’t be shipped until the funds have cleared in our
                          account.</p>
                      </div>
                    </div>
                  </div>

                  <div class="border p-3 mb-5">
                    <h3 class="h6 mb-0"><a class="d-block" data-toggle="collapse" href="#collapsepaypal" role="button"
                        aria-expanded="false" aria-controls="collapsepaypal">Paypal</a></h3>

                    <div class="collapse" id="collapsepaypal">
                      <div class="py-2">
                        <p class="mb-0">Make your payment directly into our bank account. Please use your Order ID as
                          the payment reference. Your order won’t be shipped until the funds have cleared in our
                          account.</p>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <button class="btn btn-primary btn-lg py-3 btn-block"
                      onclick="window.location='/thankyou'">提交订单</button>
                  </div>

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="row pt-5 mt-5 text-center">
      <div class="col-md-12">
        <p>
          Copyright &copy;
          <script data-cfasync="false"></script>
          <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i
            class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank"
            class="text-primary">Colorlib</a>
        </p>
      </div>
    </div>
  </div>

  <script src="/javascripts/jquery-3.3.1.min.js"></script>
  <script src="/javascripts/jquery-ui.js"></script>
  <script src="/javascripts/popper.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="/javascripts/owl.carousel.min.js"></script>
  <script src="/javascripts/jquery.magnific-popup.min.js"></script>
  <script src="/javascripts/aos.js"></script>
  <script src="/javascripts/location.js"></script>
  <script src="/javascripts/main.js"></script>

</body>

</html>