<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Snow Login form Responsive Widget Template : W3Layouts</title>

	<!-- Meta tags -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<!-- Style -->
	<link rel="stylesheet" href="/stylesheets/login.css" type="text/css" media="all" />
	<script src="/javascripts/jq.js"></script>
</head>

<body>
	<!-- login form -->
	<section class="w3l-login">
		<div class="overlay">
			<div class="wrapper">
				<div class="form-section">
					<h3>confirm the order</h3>
					<h6>To continue with Us</h6>
					<form action="/pay" method="post" class="signin-form">
						<div class="form-input">
							<input type="password" name="password" placeholder="Password" required="">
						</div>
						<button type="submit" class="btn btn-primary theme-button mt-4">confirm</button>
					</form>
				</div>
			</div>
		</div>
		<div id='stars'></div>
		<div id='stars2'></div>
		<div id='stars3'></div>
	</section>
</body>
<script>
    alert('请输入密码确认支付');
</script>

</html>